---
import Icon from '@components/modules/Icon.astro';

interface Props {
    type?: 'checkbox' | 'radio' | 'toggler';
    size?: 'lg';
    name?: string;
    checked?: boolean;
    isRequired?: boolean;
    value?: string | number;
    dataBlockSelector?: string;
    dataInvertDisplay?: boolean;
    dataTextValue?: string;
    isText?: boolean;
    isCheckIcon?: boolean;
    isDisabled?: boolean;
    classInput?: string;
    class?: string;
    [x: string]: any;
}

const {
    type = 'checkbox',
    size,
    name,
    checked,
    isRequired,
    value,
    dataBlockSelector,
    dataInvertDisplay,
    dataTextValue,
    isText = true,
    isCheckIcon = true,
    isDisabled = false,
    classInput,
    class: className,
    ...rest
} = Astro.props;

const checkboxClass = 'ui-checkbox';

function getInput() {
    return `<input
            class="${checkboxClass}__input ${classInput ? classInput : ''}"
            type="${type === 'radio' ? 'radio' : 'checkbox'}"
            name="${name}"
            ${value ? `value="${value}"` : ''}
            ${checked ? 'checked' : ''}
            ${dataBlockSelector ? `data-block-selector="${dataBlockSelector}"` : ''}
            ${dataInvertDisplay ? `data-invert-display=""` : ''}
            ${dataTextValue ? `data-text-value="${dataTextValue}"` : ''}
        />`;
}
---

<label
	class:list={[
		checkboxClass,
        type ? `${checkboxClass}_${type}` : '',
        size ? `${checkboxClass}_size_${size}` : '',
		className,
	]}
	{...rest}
>
    <Fragment set:html={getInput()} />
    <span class={`${checkboxClass}__checked`}>
        {
            type === 'checkbox' ?  <span class={`${checkboxClass}__checked-icon`}></span> : ''
        }
        <span class={`${checkboxClass}__focused`}></span>
    </span>
    {
        isText ? <span class={`${checkboxClass}__text`}><slot /></span> : ''
    }
</label>
